<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.group1418.easy.escm.core.system.mapper.SystemTenantMapper">

    <select id="search" resultType="org.group1418.easy.escm.core.system.pojo.to.SystemTenantTo">
        select * from system_tenant where enabled = 1
    </select>

    <select id="get" resultType="org.group1418.easy.escm.core.system.pojo.vo.SystemTenantVo">
        select * from system_tenant where id = #{id}
    </select>
</mapper>
