<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.group1418.easy.escm.generate.mapper.SystemTestMapper">

    <select id="search" resultType="org.group1418.easy.escm.generate.pojo.to.SystemTestTo">
        select * from system_test where enabled = 1
    </select>

    <select id="get" resultType="org.group1418.easy.escm.generate.pojo.vo.SystemTestVo">
        select * from system_test where id = #{id}
    </select>
</mapper>
